<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>UsersServlet</description>
		<display-name>UsersServlet</display-name>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>com.servlet.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/servlet/UsersServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>UploadServlet</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/servlet/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>LoginServlet</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>SysCodeServlet</description>
		<display-name>SysCodeServlet</display-name>
		<servlet-name>SysCodeServlet</servlet-name>
		<servlet-class>com.servlet.SysCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysCodeServlet</servlet-name>
		<url-pattern>/servlet/SysCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>FileServlet</description>
		<display-name>FileServlet</display-name>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.servlet.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/servlet/FileServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>FileDownLoadServlet</description>
		<display-name>FileDownLoadServlet</display-name>
		<servlet-name>FileDownLoadServlet</servlet-name>
		<servlet-class>com.servlet.FileDownLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownLoadServlet</servlet-name>
		<url-pattern>/servlet/FileDownLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>StudentServlet</description>
		<display-name>StudentServlet</display-name>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.servlet.StudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/servlet/StudentServlet</url-pattern>
	</servlet-mapping>
<servlet>
		<description>ProjectServlet</description>
		<display-name>ProjectServlet</display-name>
		<servlet-name>ProjectServlet</servlet-name>
		<servlet-class>com.servlet.ProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectServlet</servlet-name>
		<url-pattern>/servlet/ProjectServlet</url-pattern>
	</servlet-mapping>
	
</web-app>
