body{font-family:verdana;font-size:9pt}
td{font-family:verdana;font-size:9pt}
tr{font-family:verdana;font-size:9pt}
table{font-family:verdana;font-size:9pt;}
input{FONT-SIZE: 9pt; LINE-HEIGHT: 15px;border-width: 1; border-color: #E3E3E3; FONT-FAMILY: Tahoma,Verdana,ו}
a:link{text-decoration:none;color:#000000}
a:visited{text-decoration:none;color:#000000}
a:active{TEXT-DECORATION:none;color:#000080}
a:hover{COLOR: #2953c0; TEXT-DECORATION: underline}
.td1{font-size:9pt;color:#FFFFFF;font-weight: bold;}
.td2{font-size:9pt;color:#0466CC;font-weight: bold;}