body{
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.hotkey-title{
  margin: 0 57px;
  font-size: 26px;
}
.hotkey-ul{
  list-style: none;
  font-size: 16px;
}
.hotkey-ul li{
  padding:10px 14px;
}
.hotkey-ul li span{
  display: inline-block;
  min-width: 140px;
  margin: 0 7px;
}
.hotkey-ul li input{
  width: 50px;
  text-align: center;
  caret-color: transparent;
}
