.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
}

button {
  margin: 0;
}

button::after {
  border: none;
}

button[plain] {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30upx;
  border: none;
  color: #fff;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-c-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ellipsis3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/**
	红点
 */
.badge,
.badge-top {
  min-width: 40upx;
  height: 40upx;
  padding: 0 8upx;
  font-size: 24upx;
  color: #fff;
  background: linear-gradient(180deg, #cd6cff 0%, #ff4f3a 100%);
  border-radius: 20upx;
  border: 1upx solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper .u-card {
  /* box-shadow: 0px 4upx 76upx 0px rgba(0, 0, 0, 0.1) !important; */
  border-radius: 16upx !important;
  margin-top: 0 !important;
  /* margin-top: 0; */
  /* border: 1px solid #FFFFFF; */
}

.card-box-center-wrapper .u-card {
  border-radius: 16upx !important;
  /* background-color: rgba(216, 216, 216, 0.1) !important; */
}

.card-box-center-wrapper .u-border:after {
  border: 0 !important;
}

.count-down-wrapper {
  margin-top: 78upx;
  margin-bottom: 20upx;
  text-align: center;
}
.count-down-wrapper .u-countdown-item {
  background: #fff !important;
}

.count-down-wrapper .u-countdown-time {
  color: #ff4646 !important;
}

.invite-box-border-card .card {
  width: 280upx !important;
}

.invite-box-border-card .card-desc {
  font-size: 24upx !important;
  color: #cf4646 !important;
  font-weight: bold;
}

.merchan-sites .u-card__body {
  padding: 24upx 0 !important
	;
}

.hot-script .u-card {
  box-shadow: none !important;
  background: #fff !important;
}

/* .merchan-sites .u-search {  */
/* background: #171c33 ; */
/* } */

.created-tab .u-tab-item {
  background: #fff;
  margin-right: 20upx;
  border-radius: 12rpx;
  color: #333333;
}

.created-tab .u-scroll-view {
  background: #f5f5f5;
}
.create-form .u-cell {
  min-height: 100upx !important;
  line-height: 100upx !important;
  padding: 0 !important;
  background: #f5f5f5 !important;
}
.create-form input {
  margin-left: 10upx;
  padding: 0 20upx;
  min-height: 100upx !important;
  line-height: 100upx !important;
}

.u-mode-center-box { 
  border-radius: 20rpx;
}