.fs20{
	font-size: 20upx;
}
.fs22{
	font-size: 22upx;
}
.fs24{
	font-size: 24upx;
}
.fs26{
	font-size: 26upx;
}
.fs28{
	font-size: 28upx;
}
.fs30{
	font-size: 30upx;
}
.fs32{
	font-size: 32upx;
}
.fs34{
	font-size: 34upx;
}
.fs36{
	font-size: 36upx;
}
.fs40{
	font-size: 40upx;
}
.fs42{
	font-size: 42upx;
}
.fs44{
	font-size: 44upx;
}
.fs46{
	font-size: 46upx;
}
.fs48{
	font-size: 48upx;
}
.fs50{
	font-size: 50upx;
}
.fs60{
	font-size: 60upx;
}

.fw400{
	font-weight: 400;
}
.fw500{
	font-weight: 500;
}
.fw600{
	font-weight: 600;
}
.fw700{
	font-weight: 700;
}
.fw800{
	font-weight: 800;
}
.normal {
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.fwn {
  font-weight: normal !important;
}